In [1]:
# import the packages
import pandas as pd
import numpy as np

import datetime

# 1. Import Data

In [2]:
# import the data into pandas dataframes
hvc_hvvisitresult = pd.read_csv("../final_data/HVC_HVVISITRESULT.csv", sep=";")
hvc_so0 = pd.read_csv("../final_data/HVC_SO0.csv", sep=";")
hvc_am0 = pd.read_csv("../final_data/HVC_AM0.csv", sep=";")
hvc_ar0 = pd.read_csv("../final_data/HVC_AR0.csv", sep=";")
hvc_hvvisitresultdetails = pd.read_csv("../final_data/HVC_VISITRESULTDETAILS.csv", sep=";")

# 2. Explore the data

Now that we have imported all the datasets into Pandas DataFrames, 
we can do some basic exploration on these datasets.
This will give us more inisghts and will help us to do some analytics on this data.

## 2.1. Transactions

In [3]:
# inspect the first 5 observations of the transactions
hvc_hvvisitresult.head(5)

,HVVISITRESULT_NRID,SO0_NRID,AM0_NRID,HVOUTCOME_NRID,VISITDATE,DATEONLY,AMOUNT,PAYMENTTERM
0,55681456,719952,23186288605042,2,"12:20:01,000000000",2019-05-06,16.9,cash
1,55681507,1453609,19946584592834,2,"12:13:50,000000000",2019-05-06,7.4,cash
2,55681509,1453614,19946584592834,2,"12:14:08,000000000",2019-05-06,18.9,cash
3,55681512,1453602,19946584592834,1,"12:16:04,000000000",2019-05-06,0.0,NaN
4,55674074,1252497,18934048107254,2,"10:41:09,000000000",2019-05-06,34.9,tbp

In [4]:
# inspect the last 5 observations of the transactions
hvc_hvvisitresult.tail(5)

,HVVISITRESULT_NRID,SO0_NRID,AM0_NRID,HVOUTCOME_NRID,VISITDATE,DATEONLY,AMOUNT,PAYMENTTERM
240410,68688417,1252549,18934048107254,2,"12:49:06,000000000",2020-06-30,15.5,cash
240411,68756432,1399210,24034952445848,1,"09:56:02,000000000",2020-07-04,0.0,NaN
240412,73715426,56358393,24034952445848,1,"17:26:04,000000000",2020-12-19,0.0,NaN
240413,73435165,21511152416840,18934048107254,2,"18:57:48,000000000",2020-12-12,7.4,cash
240414,73465634,875410,19946584592834,1,"14:02:19,000000000",2020-12-13,0.0,NaN

In [5]:
# check dtypes
hvc_hvvisitresult.dtypes

HVVISITRESULT_NRID      int64
SO0_NRID                int64
AM0_NRID                int64
HVOUTCOME_NRID          int64
VISITDATE              object
DATEONLY               object
AMOUNT                float64
PAYMENTTERM            object
dtype: object

In [6]:
# check the number of transactions 
len(hvc_hvvisitresult)

240415

In [7]:
# inspect some descriptive statistics with respect to the transaction amount
hvc_hvvisitresult["AMOUNT"].describe()

count    240415.000000
mean          4.427552
std          12.324519
min         -50.000000
25%           0.000000
50%           0.000000
75%           7.400000
max        1476.800000
Name: AMOUNT, dtype: float64

In [8]:
# inspect some descriptive statistics with respect to the payment term
hvc_hvvisitresult["PAYMENTTERM"].describe()

count     77301
unique        2
top        cash
freq      76391
Name: PAYMENTTERM, dtype: object

In [9]:
# inspect the total number of missing values for the transaction amount
sum(hvc_hvvisitresult["AMOUNT"].isnull())

0

In [10]:
# inspect the total number of missing values for the payment term
sum(hvc_hvvisitresult["PAYMENTTERM"].isnull())

163114

In [11]:
# inspect the proportion of missing values for the payment term
sum(hvc_hvvisitresult["PAYMENTTERM"].isnull()) / len(hvc_hvvisitresult)

0.6784684815839278

## 2.2. Customers

In [12]:
# inspect first 5 observations of customers
hvc_so0.head(5)

   SO0_NRID  HVROUTETEMPLATE_NRID CUST_TYPE  POSTCODE LANGUAGE SEASON_TYPE
0  721104.0           219020601.0   Private      3930    nl-BE    All time
1  721110.0           219020601.0   Private      3930    nl-BE    All time
2  721121.0           219020601.0   Private      3930    nl-BE    All time
3  721126.0           219020601.0   Private      3930    nl-BE    All time
4  721131.0           219020601.0   Private      3930    nl-BE    All time

In [13]:
# inspect total number of unique customers
len(hvc_so0["SO0_NRID"].unique())

5709

In [14]:
# get some descriptive statistics with respect to the spoken language as well as the season type of the customers
hvc_so0[["LANGUAGE", "SEASON_TYPE"]].describe()

       LANGUAGE SEASON_TYPE
count      5709        5708
unique        2           4
top       nl-BE    All time
freq       5703        5554

In [15]:
# get the counts for every season type
hvc_so0["SEASON_TYPE"].value_counts()

All time     5554
Summer        150
Christmas       3
Winter          1
Name: SEASON_TYPE, dtype: int64

In [16]:
# get the counts for every spoken language
hvc_so0["LANGUAGE"].value_counts()

nl-BE    5703
fr-BE       6
Name: LANGUAGE, dtype: int64

## 2.3. Employees

In [14]:
# inspect first 5 observations of employees
hvc_am0.head(5)

         AM0_NRID  EMPLOYEENUMBER            NAME  POSTCODE  LOCATION LANGUAGE
0  18503611215721          1001.0  BOONE Frederik      2460    Tielen    nl-BE
1  18503612347289          1021.0    JANSSENS Jos      2400       Mol    nl-BE
2  18503612452173          1022.0  LEYSEN Michiel      3500   Hasselt    nl-BE
3  18503621528962          1122.0   ALLEMAN Benny      3900  Overpelt    nl-BE
4  18503622652855          1135.0   GOOVAERTS Jef      3920    Lommel    nl-BE

In [15]:
# inspect the total number of employees
len(hvc_am0["AM0_NRID"].unique())

46

## 2.4. Products

In [16]:
# inspect the first 5 products
hvc_ar0.head(5)

,AR0_NRID,DESCRIPTION,CATEGORY,FAMILY,PRICE
0,20742288286838,Dessert Caramel/14,Verkoopsartikel,Cups,10.9
1,20413488326838,Penalty/16,Verkoopsartikel,Hand Ice,6.5
2,21515648414638,Kriekentaart,Verkoopsartikel,Coffee,7.9
3,20296288686840,Expo met zachte wafel/12,Verkoopsartikel,Individual Dessert,7.3
4,21844652504048,Paaseitjes,Verkoopsartikel,Individual Dessert,7.5

In [17]:
# inspect the total number of products 
len(hvc_ar0["AR0_NRID"].unique())

317

In [18]:
# inspect the proportion of product families
hvc_ar0["FAMILY"].value_counts(normalize=True)

Scoop Ice             0.232727
Hand Ice              0.167273
Cups                  0.134545
Meals                 0.130909
Coffee                0.083636
Ice Cakes             0.083636
Individual Dessert    0.080000
Garniture             0.043636
Assortments           0.029091
BIG                   0.007273
POS inside            0.007273
Name: FAMILY, dtype: float64

In [19]:
# get some descriptive statistics with respect to the price of the products
hvc_ar0["PRICE"].describe()

count    286.000000
mean       7.763112
std        5.948013
min      -25.000000
25%        5.125000
50%        7.600000
75%        9.600000
max       37.000000
Name: PRICE, dtype: float64

In [20]:
# inspect which product had a negative price
hvc_ar0[hvc_ar0["PRICE"] < 0]

           AR0_NRID                     DESCRIPTION     CATEGORY FAMILY  PRICE
21         57367272     Bon -2,5euro zomermailing07  Kortingsbon    NaN   -2.5
54         54251376  Bon chocolate surprise Utopoli  Kortingsbon    NaN   -5.2
63         62157503                  Bon -7,40 euro  Kortingsbon    NaN   -7.4
64         62315111  Bon duette deluxe/6 bij AK min  Kortingsbon    NaN   -4.2
71         55360457  Bon gratis deco Nieuwsblad/Ver  Kortingsbon    NaN   -4.1
186  21454356698044    Bon -1,9 euro bij AK 15 euro  Kortingsbon    NaN   -1.9
187  21142456138046  Bon -4,10euro bij AK van min 2  Kortingsbon    NaN   -4.1
218        52529668  Bon-6,90euro bij AK van min 35  Kortingsbon    NaN   -7.4
230        53569504          Bon-3,90euro KVLV 2007  Kortingsbon    NaN   -4.1
231        53614655            Bon -10euro Exellent  Kortingsbon    NaN  -10.0
237        47703913              Bon 25 euro Brebos  Kortingsbon    NaN  -25.0
255          681916               Cadeaubon 10 euro  Kortingsbon    NaN  -10.0
286        61239668         Bon kerstmailing â¿¬2,5  Kortingsbon    NaN   -2.5
288  22611748246244  Bon -1 euro bij AK 10 euro icy  Kortingsbon    NaN   -1.0
289  22092648256244                    Bon -6,7euro  Kortingsbon    NaN   -7.4
316  20985584414848       Bon 1L roomijs naar keuze  Kortingsbon    NaN   -3.9

# 2. Data Conversion

Before we start analyzing the data, we should first do the required data conversions.

In [23]:
# lets convert DATEONLY column from a string variable to a datetime variable
hvc_hvvisitresult["DATEONLY"] = pd.to_datetime(hvc_hvvisitresult["DATEONLY"])

# 3. Analytics

Now that we have somehow explored the data, we can do some more advanced analytics.

## 3.1 Customer

### 3.1.1 CLV

Lets have a look at the CLV or total sales generated by a specific customer

In [24]:
# define customer
customer_id = 721110.0

# get subset of transactions per customer
customer_transactions = hvc_hvvisitresult[hvc_hvvisitresult["SO0_NRID"] == customer_id]

# get the transactions with a positive outcome
customer_transactions = customer_transactions[customer_transactions["HVOUTCOME_NRID"] == 2]

# get total amount purchased by customer
customer_clv = np.sum(customer_transactions["AMOUNT"])

# check
print(customer_clv)

183.60000000000002

Now lets define a function such that we can extract the total sales for any specified customer

In [25]:
# define a function that accepts a customer id and the transactions data as parameters
def get_clv(cust_id, transactions):
    
    # get customer transactions
    cust_transactions = transactions[transactions["SO0_NRID"] == cust_id]
    # get transactions with positive outcome
    cust_transactions_pos = cust_transactions[cust_transactions["HVOUTCOME_NRID"] == 2]
    # get clv
    clv = np.sum(cust_transactions["AMOUNT"])
    # return clv
    return(clv)

In [26]:
# check
clv = get_clv(cust_id=721110.0, transactions=hvc_hvvisitresult)
print(clv)

183.60000000000002

### 3.1.2 Customer Frequency

How often did a customer purchase at the company at different days?

In [27]:
# define customer
customer_id = 721110.0

# get transactions made by customer
transactions_cust = hvc_hvvisitresult[hvc_hvvisitresult["SO0_NRID"] == customer_id]

# get transactions from succesfull visits
transactions_cust = transactions_cust[transactions_cust["HVOUTCOME_NRID"] == 2]

# get total number of unique days on which customer made a purchase
frequency = len(transactions_cust)

In [28]:
# check
frequency

15

Now lets define a function that accepts the customer id and the transactions dataset and return the frequency

In [30]:
def get_frequency(cust_id, transactions):
    
    # get transactions made by customer
    transactions_cust = transactions[hvc_hvvisitresult["SO0_NRID"] == cust_id]

    # get transactions from succesfull visits
    transactions_cust = transactions_cust[transactions_cust["HVOUTCOME_NRID"] == 2]

    # get total number of unique days on which customer made a purchase
    frequency = len(transactions_cust)
    
    # return
    return(frequency)

In [31]:
# check
get_frequency(721110.0, hvc_hvvisitresult)

15

### 3.1.3 Customer Products

Lets also investigete which products a customer bought.

In [32]:
# define customer
customer_id = 721110.0

In [33]:
# join transactions with transaction details with products
transactions_products = hvc_hvvisitresult.merge(hvc_hvvisitresultdetails, on="HVVISITRESULT_NRID", how="inner") \
                                         .merge(hvc_ar0, on="AR0_NRID", how="inner")

In [34]:
# check
transactions_products.head(3)

,HVVISITRESULT_NRID,SO0_NRID,AM0_NRID,HVOUTCOME_NRID,VISITDATE,DATEONLY,AMOUNT,PAYMENTTERM,VISITRESULTDETAILS_NRID,AR0_NRID,QUANTITY,DESCRIPTION,CATEGORY,FAMILY,PRICE
0,55681456,719952,23186288605042,2,"12:20:01,000000000",2019-05-06,16.9,cash,55681457,23678,1.0,"2,5 L.Vanille",Verkoopsartikel,Scoop Ice,7.4
1,55681507,1453609,19946584592834,2,"12:13:50,000000000",2019-05-06,7.4,cash,55681508,23678,1.0,"2,5 L.Vanille",Verkoopsartikel,Scoop Ice,7.4
2,55714770,1246568,18934048107254,2,"22:08:39,000000000",2019-05-06,11.1,cash,55714771,23678,1.0,"2,5 L.Vanille",Verkoopsartikel,Scoop Ice,7.4

In [35]:
# get all the transactions for customer
transactions_products_customer = transactions_products[transactions_products["SO0_NRID"] == customer_id]

# get all transactions with positive outcome
transactions_products_customer = transactions_products_customer[transactions_products_customer["HVOUTCOME_NRID"] == 2]

In [36]:
# get total number of products bought by the customer
transactions_products_customer["QUANTITY"].sum()

22.0

In [37]:
# get a list of all the unique products bought by customer
transactions_products_customer["DESCRIPTION"].unique().tolist()

['2,5 L.Vanille',
 "Cornets d'Amour BrÃ©s 16+4",
 "Cornets d'Amour Bres/16",
 'Piet Piraat/12',
 'K3/12 HORECA',
 'Expo met zachte wafel/12',
 'Rainbow Fruits/16',
 'Crocita Aardbei/16',
 'Satelite/24',
 'Piet Piraat/12 + actie']

Again we will create a function to get the list of unique products a customer bought

In [38]:
# define a function that accepts a customer id, the transactions data, transactions details data and product data
def get_products(cust_id, transactions, transaction_details, products):
    

    # join transactions with transaction details with products
    transactions_products = transactions.merge(transaction_details, on="HVVISITRESULT_NRID", how="inner") \
                                        .merge(products, on="AR0_NRID", how="inner")
    
    # get transactions of customer 
    transactions_products_cust = transactions_products[transactions_products["SO0_NRID"] == cust_id]
    
    # only get transactions of succesfull visits
    transactions_products_cust = transactions_products_cust[transactions_products_cust["HVOUTCOME_NRID"] == 2]
    
    # get total amount of products bought by the customer
    total_products = transactions_products_cust["QUANTITY"].sum()
    
    # get total number of unique products bought by the customer
    total_unique_products = len(transactions_products_cust["DESCRIPTION"].unique())
    
    # return
    return(total_products, total_unique_products)

In [39]:
# check
get_products(cust_id=721110.0, 
                  transactions=hvc_hvvisitresult, 
                  transaction_details=hvc_hvvisitresultdetails, 
                  products=hvc_ar0)

(22.0, 10)

### 3.1.5. Combine everything

Lets now combine the created functions to get a descriptice summary of a certain customer.
More specifically, we are going to build a function that uses the predefined functions and returns:
        
        - The CLV of a customer
        - The Frequency of a customer
        - The total number of products bought by the customer
        - The total number of unique products bought by the customer

In [40]:
# define function
def get_customer_report(cust_id, transactions, transaction_details, products):
    
    # get the customer clv
    clv = get_clv(cust_id, transactions)
    
    # get customer frequency
    freq = get_frequency(cust_id, transactions)
    
    # get total number of products as well as total number of unique products
    total_products, total_unique_products = get_products(cust_id, transactions, transaction_details, products)
    
    # return
    return(clv, freq, total_products, total_unique_products)

In [41]:
get_customer_report(cust_id=721110.0, 
                    transactions=hvc_hvvisitresult, 
                    transaction_details=hvc_hvvisitresultdetails, 
                    products=hvc_ar0)

(183.60000000000002, 15, 22.0, 10)

# 4. Next Steps

- Analyze the other datasets as well (employees, customers, products, routes, ...)
- How many customers visited each employee?
- Are there customers that stopped buying products?
- Who are the best customers in terms of CLV?
- Who are the top performing employees?
- What are the best selling products?
- What are the worst selling products?
- ...